<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <add key="LogFileDirectory" value="C:\Logs\BBS\CoreApis\"/>
    <add key="SERVER_IP" value="172.16.1.221"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <client>
      <!--<endpoint address="http://localhost:50159/Local.svc" binding="wsHttpBinding"-->
      <endpoint address="http://172.16.1.221:8080/JazzcashCoreApisLocal/Local.svc" binding="wsHttpBinding"  
        bindingConfiguration="WSHttpBinding_ILocal" contract="wsLocal.ILocal"
        name="WSHttpBinding_ILocal" />
    </client>
    <services>
      <service name="Activity" behaviorConfiguration="SB">
        <endpoint contract="IActivity" binding="webHttpBinding" address="" behaviorConfiguration="WEPB" bindingConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SB">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WEPB">
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
        </behavior>
        <behavior name="SyncingAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinding">
          <readerQuotas maxStringContentLength="2147483591" maxArrayLength="2147483591" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILocal" >
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="web" closeTimeout="00:10:00" openTimeout="00:10:00" 
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483591"
          maxBufferPoolSize="2147483591" maxReceivedMessageSize="2147483591">
          <readerQuotas maxDepth="2147483591" maxStringContentLength="2147483591"
            maxArrayLength="2147483591" maxBytesPerRead="2147483591" maxNameTableCharCount="2147483591" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="removesvc" type="RemoveSvc"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.data/>
  <runtime/>
</configuration>